.add-station-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.add-station-inputs {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    flex: 1;
    margin-left: 20px;
}

.add-station-button {
    width: 81%;
    display: flex;
    justify-content: flex-start;
}

.header-add-station {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .add-station-inputs {
        max-width: 100%;
        /* Adjust the max-width for smaller screens */
        padding: 0 20px;
        /* Add some padding for better readability */
    }
}

@media (max-width: 767px) {
    .add-station-container {
        flex-direction: column;
        /* Stack forms vertically on smaller screens */
        align-items: center;
        justify-content: center;
    }

    .add-station-inputs {
        max-width: 100%;
        padding: 0 20px;
    }
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    /* This ensures equal spacing */
}

.styled-table th,
.styled-table td {
    padding: 8px;
    /* Add padding for spacing */
    text-align: left;
}

.table-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.head-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-edit-button button {
    height: 10px;
}

.edits {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.station-row {
    margin-left: 100px;
}

.product-row {
    margin-left: 50px;
}

.search-station-form {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0;
    margin-right: 100px;
    width: 100%;
}

.search-station-button {
    margin-right: 130px;
}