.add-station-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 5px;
}

.add-station-inputs {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    flex: 1;
    margin-left: 20px;
}

.add-station-button {
    width: 81%;
    display: flex;
    justify-content: flex-start;
}

.header-add-station {
   
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.add-station-container {
  
    background-color: #f0f0f0; 
    padding: 20px;
    border: 1px solid #ccc; 
    margin-bottom: 20px;
  }
  
  
  .add-station-header {
    margin-top: 100px;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
 
  .add-station-inputs {
   
  }
  
 
  .view-user-section {
   
    margin-top: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  
  
  
 
  .edit-button,
  .delete-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  
  .edit-button:hover,
  .delete-button:hover {
    background-color: darkred;
  }
  
@media (max-width: 767px) {
    .add-station-inputs {
        max-width: 100%;
    
        padding: 0 20px;
     
    }
}

@media (max-width: 767px) {
    .add-station-container {
        flex-direction: column;
       
        align-items: center;
        justify-content: center;
    }

    .add-station-inputs {
        max-width: 100%;
        padding: 0 20px;
    }
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
   
}

.styled-table th,
.styled-table td {
    padding: 8px;
   
    text-align: left;
}

.table-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.head-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-edit-button button {
    height: 10px;
}

.edits {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.station-row {
    margin-left: 100px;
}

.product-row {
    margin-left: 50px;
}

.search-station-form {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0;
    margin-right: 100px;
    width: 100%;
}

.search-station-button {
    margin-right: 130px;
}