.add-station-container {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-station-inputs {
    width: 100%;
    /* Adjust width if necessary */
    max-width: 400px;
    /* Set a maximum width for better readability */
    margin: 0 auto;
    /* Center the form */
}

.add-station-button {
    width: 81%;
    display: flex;
    justify-content: flex-start;
}

.header-add-station {
    margin: 5px;
    ;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .add-station-inputs {
        max-width: 100%;
        /* Adjust the max-width for smaller screens */
        padding: 0 20px;
        /* Add some padding for better readability */
    }
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    /* This ensures equal spacing */
}

.styled-table th,
.styled-table td {
    padding: 8px;
    /* Add padding for spacing */
    text-align: left;
}

.table-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.head-contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body-contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-edit-button button{
    height: 10px;
}

.edits{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.station-row{
    margin-left: 100px;
}

.product-row{
    margin-left: 50px;
}