
.form-group {
    justify-content: center;
    text-align: center;
}



.form-group select{
    width: 15vw;
}
.firststat{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
}

.fslist{
    display: flex;
    justify-content: center;
}

.fslist h4{
    margin: 30px;
}

.params{
    display: flex;
    justify-content: center;
}

#job_nameInput{
    width: 16%;
    padding: 0px;
    border: 1px solid black;
}

.jobsub{
    display: flex;
    flex-direction: column;
    align-items: center;
}