.productadd label{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 2vh;
    margin-left: 30vw;
    justify-content: center;
}

.productadd input{
    margin: 20px;
}

.subbtn{
    margin-left: 46vw;
}

.table{
    display: flex;
    flex-direction: column;
}