/* AddProduct.css */
.productadd {
    margin-top: 30px;
    text-align: center;
  }
  
  .product-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .product-name {
    margin-right: 10px;
  }
  
  .product-input {
    max-width: 300px;
  }
  
  .parameter-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .add-parameter-button,
  .save-button {
    background-color: #f5b7b1;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .product-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .product-table th,
  .product-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .product-table th {
    background-color: #f2f2f2;
  }
  
  .delete-button {
    background-color: #f5b7b1;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .error-message {
    font-size: 14px;
    color: #e74c3c;
    margin-top: 5px; /* Add some space above the error message */
    align-items: center;
    margin-left: 55px;
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  
  /* Adjust toast position for margin */
  .react-hot-toast-container {
    margin-top: 60px; /* Adjust as needed */
  }

  .paramererName-error-message{
    font-size: 14px;
    color: #e74c3c;
    margin-top: 5px; /* Add some space above the error message */
    align-items: center;
    margin-left: 5px;
    margin-top: 5px;
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  