.workerreg {
    margin-top: 1vh;   
    text-align: center;
    justify-content: center;
    align-items: center;
 }
 
 .adduser{
     justify-content: center;
     
 }
 .worklist{
     display: flex;
     flex-direction: column;
     width: 200px;
 }
 
 .workerreg label{
     display: flex;
     flex-direction: column;
     width: 40%;
     margin-top: 2vh;
     margin-left: 30vw;
     justify-content: center;
 }
 
 .workerreg input{
     margin: 12px;
 }
 
 .heading{
     text-align: center;
     margin-top: 15vh;
 }
 .subbtn{
     margin-top: 18px;
     margin-left: 10vw;
     background-color: #d9534f;
     color: white;
     border: 0px;
     border-radius: 6px;
     align-items: center;
 }
 
 .table{
     display: flex;
     flex-direction: column;
 }
 
 .checkbox-groups {
     margin-left: 30px;
     margin-right: 20px;
      
 }
   
  
 
 
