.Form {
    margin-top: 20px;
  }
  .username-not-table {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center; 
      margin: 30px;
      text-align: center;
      background-color: #f4f4f4; 
      padding: 20px; 
    }
  
  
    
    .delusertable td{
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .delusertable {
      margin: 0 auto;
      width: 72%;
      text-align: center;
      align-items: center;
      
    }


    .reset-button {
      background-color: #d9534f; 
      color: #fff;
      border: none; 
      padding: 10px 20px; 
      cursor: pointer; 
      border-radius: 5px; 
      width: 200px;
      margin-left: 3.6vw;
    }
    
    .reset-button:hover {
      background-color: #cc0000; 
    }

    .delete-button{
      background-color: #d9534f; 
      color: #fff;
      border: none; 
      padding: 10px 20px; 
      cursor: pointer; 
      border-radius: 5px; 
      width: 50px;
      margin-left: 9vw;
    }

    
