.Form {
    margin-top: 20px;
  }
  .username-not-table {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center; 
      margin: 30px;
      text-align: center;
      background-color: #f4f4f4; 
      padding: 20px; 
    }
  
   
  /* table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #ddd; 
    }
    
    th, td {
      padding: 8px;
      text-align: left;
     
    }
    
    
    th {
      background-color: #f2f2f2; 
      color: red; 
    }
    
    
    tr:nth-child(even) {
      background-color: #f2f2f2;
    } */
    
    
    .table-container {
      margin: 0 auto;
      width: 70%;
      margin: 50px;
      display: flex;
      margin-left: 50vw;
      /* max-width: 800px; */
    }
  
    .reset-button {
      background-color: #d9534f; 
      color: #fff;
      border: none; 
      padding: 10px 20px; 
      cursor: pointer; 
      border-radius: 5px; 
    }
    
    .reset-button:hover {
      background-color: #cc0000; 
    }

    .delusertable td{
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .delusertable {
      margin: 0 auto;
      width: 72%;
      text-align: center;
      align-items: center;
      
    }

    .delete-button{
      background-color: #d9534f; 
      color: #fff;
      border: none; 
      padding: 10px 20px; 
      cursor: pointer; 
      border-radius: 5px; 
      width: 50px;
      margin-left: 9vw;
    }

    .reset-button {
      background-color: #d9534f; 
      color: #fff;
      border: none; 
      padding: 10px 20px; 
      cursor: pointer; 
      border-radius: 5px; 
      width: 200px;
      margin-left: 3.6vw;
    }

